@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["msg"] != null)
{
    <div class="form-group">
        <span class="text-info"></span>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@TempData["msg"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
